---
layout: default
title: Index
---

<div class="home" style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xIvbzH_ds_I" frameborder="0" allowfullscreen></iframe>
</div>
<!--
<div class="links-block">
<h2>Nerdstuff n more</h2>
<ul class="">
{% for post in site.posts %}
    {% if post.categories contains 'martin' %}
        <li><a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <span>{{ post.date | date: "%-d %b %Y" }}</span></a></li>
    {% endif %}
{% endfor %}
</ul>
</div>

<div class="links-block">
<h2>Writing</h2>
<ul class="">
{% for post in site.posts %}
    {% if post.categories contains 'writing' %}
        <li><a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <span>{{ post.date | date: "%-d %b %Y" }}</span></a></li>
    {% endif %}
{% endfor %}
</ul>
</div>
-->