/**
 * gallery
 */
.gallery {
  width: 100%;
  height: auto;
}

.gallery a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  display: block;
  float: left;
  margin: 0 12px 12px 0;
  width: 171px;
  line-height: 0;
}

a.gallery-img-main {
  width: auto;
  height: auto;
}

.gallery figcaption {
  display: none;
}