.post-list li:hover {
    background-color: $grey-color-light;
}

.post-list li a:hover {
    text-decoration: none;
}

.post-list li a {
    color: $text-color;
    padding-top: 2px;
}

.post-list-date {
    width: 45px;
    text-align: center;
    float: left;
    margin-right: 10px;
    border: 1px solid white;
    margin-top: 3px;
    margin-left: 2px;
}

.post-meta {
    font-size: $small-font-size-xs;
    color: $pink-color;
}

.post-list-date-day {
    padding: 0 6px;
    display: block;
    background-color: $grey-color-light;
    border-bottom: none;
}

.post-list-date-year {
    padding: 0 6px;
    display: block;
    color: $grey-color-light;
    background-color: $grey-color;
    border-top: none;
}