/**
 * Tag - jump to links
 */
.inline-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: 35px;
  padding-left: 0;
}

.inline-list li {
  list-style-type: none;
  display: inline;
  margin-right: 5px;
}

.tag, .tag:visited, .tag:active, .tag:hover {
  color: $grey-color;
  text-decoration: none;
  font-size: $base-font-size
}

.term {
  padding: 0 5px;
  background-color: $grey-color-light;
  display: inline-block;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.count {
  padding: 0 3px;
  color: $grey-color-light;
  background-color: $grey-color;
  display: inline-block;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tag:hover .term, .tag:hover .count {
  /*background-color-animation: 0.2s ease-out;*/
  background-color: $grey-color;
  color: $grey-color-light;
}

.tagblock {
  /*border: 1px solid #e8e8e8;*/
  border-radius: 2px;
  margin-bottom: 1.5em;
}

.tagblock ul {
  margin-left: 15px;
}

.tagblock ul li {
  list-style: none;
}

.tagblock h2 {
  font-size: 24px;
  margin: 10px 0 5px 0px;
}